body{
    background-color: wheat;
}
#ared{
    background-color:rgb(190, 0,39);
    border:20px rgb(190, 0,39) solid ;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-right: 30px;
}
#ablue{
    background-color:rgb(59, 90,163);
    border:20px rgb(59, 90,163) solid;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-top: 0px;
}
#ayellow{
    background-color:rgb(226,174,87);
    border:20px  rgb(226,174,87) solid;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-top: 0px;
}
.bblue{
    background-color: rgb(0, 189,242);
    border:20px  rgb(0, 189,242) solid ;
    border-left:0;
    border-right:0;
    margin-left:30px;
    margin-right: 30px;
}
#bblack{
    background-color: rgb(35,31,32);
    border-color: white;
    padding: 20px;
    border-bottom:10px white solid;
    border-top:10px  white solid;
    margin-left: 0px;
    margin-right: 0;
}
.austria{
        background-color: rgb(215,36,39);
        border:20px  rgb(215, 36,39) solid ;
        border-left:0;
        border-right:0;
        margin-left:30px;
        margin-right: 30px;
}
.awhite{
    background-color:rgb(255,255,255);
    border:20px rgb(255,255,255) solid;
    padding:20px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right:0px;
    margin-top: 0px;
}

#bgreen{
    background-color:rgb(0,166,81);
    border:20px rgb(0,166,81) solid;
    padding:20px;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-right: 30px;
    margin-top: 0px;

}
.bred{
background-color:rgb(237,28,36);
border:20px rgb(237,28,36) solid;
padding:20px;
margin-left: 30px;
margin-bottom: 0px;
margin-right: 30px;
margin-top: 0px;
}
#bwhite{
    margin-left: 30px;
    margin-right: 30px;
}
#cyellow{
    background-color:rgb(255,242,0);
border:50px rgb(255,242,0) solid;
padding:20px;
margin-left: 30px;
margin-bottom: 0px;
margin-right: 30px;
margin-top: 0px;
}
#cblue{
    background-color:rgb(0,102,179);
border:20px rgb(0,102,179) solid;
padding:20px;
margin-left: 30px;
margin-bottom: 0px;
margin-right: 30px;
margin-top: 0px;
}